{% extends "home/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block css %}{% endblock %}
{% block activedash %}200{% endblock %}
{% block body %}
  <div class="max-w-4xl mx-auto">
    <div class="bg-white rounded-3xl p-8 mb-5">
      <h1 class="text-3xl font-bold mb-10">
        {{ company_name }} Enterprise Resource Planning Software
      </h1>
      <div class="flex items-center justify-between">
        <div class="flex items-stretch">
          <div class="text-gray-400 text-xs">{{ username }}</div>
          <div class="h-100 border-l mx-4"></div>
          
        </div>
        <div class="flex items-center gap-x-2">
          
            
              <path
                d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"
              />
            </svg>

          </button>

          <a href="/auth/logout/">
            <button
            type="button"
            class="inline-flex items-center justify-center h-9 px-5 rounded-xl bg-gray-900 text-gray-300 hover:text-white text-sm font-semibold transition"
          >
            Logout
          </button>
          </a>
          
        </div>
      </div>

      <hr class="my-10" />

      <div class="grid grid-cols-4 gap-6">
        {% for module in modules %}
        <a href="/{{ module.module.module_code }}" class="p-4 bg-{% cycle 'blue' 'pink' 'yellow' 'red' 'green' %}-200 rounded-xl">
          <div class="font-bold text-lg text-gray-700 leading-none">{{ module.module.module_name }}</div>
        </a>
        
        {% endfor %}
      </div>
      
    </div>
  </div>
{% endblock %}
{% block js %}{% endblock %}