{% extends 'inquiry/inquiry_base.html' %}
{% block title %}JustERP | Fill in Inquiry{% endblock %}
{% block activeintable %}200{% endblock %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
<style>
    .custom-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock %}
{% block body %}
<div class="container mx-auto py-10">
    <div class="custom-flex">
        <h2 class="text-2xl font-bold mb-4">Inquiries</h2>
        {% include 'inquiry/search.html' %}
    </div>
    
    <div class="overflow-x-auto">
        <table class="table-auto min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Inquiry ID</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Customer</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">DO_BE_PO_NO</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">CONSIGNMENT_DESCRIPTION</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Seal No</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Container No</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Truck Type</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Truck Number</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Order Qty</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Length</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Axel Type</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Loading By Consignor</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Unloading By Consignee</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Mode of Shipment</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Pickup Address</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Freight Value</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Planned Loading Date Time</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Destination Address</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Price Value</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Planned Unloading Date Time</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Division</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Cluster</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Payment Terms</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Credit Days</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Insurance</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                {% for inq in inquiries %}
                {% if inq.truck_type.truck_type %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.inquiry_id }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.customer }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.DO_BE_PO_NO }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.CONSIGNMENT_DESCRIPTION }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.seal_no }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.container_no }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.truck_type }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.truck_details }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.order_quantity }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.length }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.axel_type }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.loading_by_consignor }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.unloading_by_consignee }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.mode_of_shipment }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.pickup_address }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.freight_value }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.planned_loading_datetime }}</td>
                    <td class="px-6 py-4 whitespace-nowrap" data-address-id="{{ inq.destination_address.address_id }}">{{ inq.destination_address }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.price_value }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.planned_unloading_datetime }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.division}}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.cluster }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.payment_terms }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.credit_days }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ inq.insurance }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
        // Function to perform search
        $('#search-dropdown').on('keyup', function() {
            var searchText = $(this).val().toLowerCase();
            $('tbody tr').filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
            });
        });

        // Function to filter based on dropdown selection
        $('#dropdown').on('change', 'input[type="checkbox"]', function() {
    var selectedDestinations = $('#dropdown input[type="checkbox"]:checked').map(function(){
        return $(this).val();
    }).get();
    
    console.log("Selected Destinations:", selectedDestinations);

    if (selectedDestinations.length > 0) {
        $('tbody tr').hide();
        $('tbody tr').each(function() {
            var destinationAddressId = $(this).find('td[data-address-id]').data('address-id');
            console.log("Destination Address ID from Table:", destinationAddressId);
            if (selectedDestinations.includes(destinationAddressId.toString())) {
                $(this).show();
            }
        });
    } else {
        $('tbody tr').show();
    }
});

    });


    </script>
    
{% endblock %}