<!-- Modal -->
<div class="modal fade" id="staticBackdropSplit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabelSplit">Fill details about your split below.</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Spit content</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                <form id="merge-form" action="/inquiry/split" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <!-- <input type="hidden" id="selected-inquiry-ids" name="selected_inquiry_ids"> -->
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>
