<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Registration Form</title>
    <!-- Include Tailwind CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body{
            background: rgb(255,227,239);
            background: radial-gradient(circle, rgba(255,227,239,0.01) 0%, rgba(207,229,255,1) 100%);
        }
        
    </style>
</head>

<body>


    <div class="isolate px-6 py-24 sm:py-32 lg:px-8 relative z-10 ">
        <div class="background-custom">
         
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Company Registration</h2>
            <p class="mt-2 text-lg leading-8 text-gray-600">Please fill out the form below to register your company.</p>
        </div>
        <form action="/auth/root-signup/" method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20 background-custom">
            {% csrf_token %}
            <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                <div>
                    <label for="company_name" class="block text-sm font-semibold leading-6 text-gray-900">Company
                        Name</label>
                    <div class="mt-2.5">
                        <input type="text" name="company_name" id="company_name" autocomplete="organization"
                            class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required>
                    </div>
                </div>
                <div>
                    <label for="contact_person_name"
                        class="block text-sm font-semibold leading-6 text-gray-900">Contact Person Name</label>
                    <div class="mt-2.5">
                        <input type="text" name="contact_person_name" id="contact_person_name"
                            autocomplete="given-name"
                            class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required>
                    </div>
                </div>
                <div>
                    <label for="contact_email" class="block text-sm font-semibold leading-6 text-gray-900">Contact
                        Email</label>
                    <div class="mt-2.5">
                        <input type="email" name="contact_email" id="contact_email" autocomplete="email"
                            class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required>
                    </div>
                </div>
                <div>
                    <label for="contact_phone" class="block text-sm font-semibold leading-6 text-gray-900">Contact
                        Phone</label>
                    <div class="mt-2.5">
                        <input type="tel" name="contact_phone" id="contact_phone" autocomplete="tel"
                            class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required>
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <label for="company_address" class="block text-sm font-semibold leading-6 text-gray-900">Company
                        Address</label>
                    <div class="mt-2.5">
                        <textarea name="company_address" id="company_address" rows="4"
                            class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required></textarea>
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <label for="business_description"
                        class="block text-sm font-semibold leading-6 text-gray-900">Business Description</label>
                    <div class="mt-2.5">
                        <textarea name="business_description" id="business_description" rows="4"
                            class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required></textarea>
                    </div>
                </div>
                <div>
                    <label for="country" class="block text-sm font-semibold leading-6 text-gray-900">Country</label>
                    <div class="mt-2.5">
                        <select name="country" id="country" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required>
                            {% for country in countries %}
                                <option value="{{ country }}">{{ country }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <div>
                    <label for="registration_number"
                        class="block text-sm font-semibold leading-6 text-gray-900">Registration Number</label>
                    <div class="mt-2.5">
                        <input type="text" name="registration_number" id="registration_number"
                            class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required>
                    </div>
                </div>
                <div>
                    <label for="budget" class="block text-sm font-semibold leading-6 text-gray-900">Budget</label>
                    <div class="mt-2.5">
                        <input type="text" name="budget" id="budget" autocomplete="budget"
                            class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>
            </div>
            <div class="mt-10">
                <button type="submit"
                    class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Register</button>
            </div>
        </form>
        </div>
    </div>

</body>

</html>