{% extends 'home/base.html' %}
{% block title %}Permissions{% endblock %}
{% block activeusers %}200{% endblock %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base_internal.css' %}">
<style>
    .content-wrapper{
        margin-left:10rem;
    }
</style>
{% endblock %}
{% block body %}
{% include 'authapp/base_internal.html' %}
<div class="content-wrapper">

</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/base_internal.js' %}"></script>
<script>
</script>
{% endblock %}